* {
  margin: 0;
  padding: 0;
  background-color: #25343f;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

#title {
  border: 3px solid #f16d34;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  font-size: 40px;
}

h3 {
  border-left: 5px solid #ff9b51;
  margin: 25px;
  padding: 30px;
  background: #6dabde;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: linear-gradient(90deg, #1c4d8d, rgba(201, 201, 201, 1) 86%);
  font-size: 28px;
}
.song_num {
  font-size: 30px;
  border-left: 10px solid red;
  margin: 15px;
  padding: 15px;
  background-color: #1c4e6b;
  color: white;
  width: 20%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
audio {
  width: 30%;
  border: 2px solid red;
  border-radius: 30px;
  box-shadow: 5px 4px 30px #f16d34;
  margin: 30px 0 50px 50px;
}

#list_head {
  padding: 35px;
  border: 2px solid #f16d34;
  margin: 40px auto;
  font-size: 40px;
  text-align: center;
  width: 50%;
  border-radius: 20px;
}
.image_poster {
  border: 2px solid brown;
  padding: 20px;
  margin: 30px 30px 20px 60px;
  border-radius: 20px;
}
.trailer {
  border: 2px solid brown;
  padding: 20px;
  margin: 30px 30px 20px 60px;
  border-radius: 20px;
  width: 50%;
}
p{
    border: 2px solid #f16d34;
    width: 45%;
    padding: 20px;
    margin: 10px 17px;
    font-size: 21px;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    border-left:13px solid #f16d34;
}